* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-color {
    background-color: lightgrey;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    overflow: visible;
    padding-inline: 20px;
    margin-top: 2%;
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 1;
}


li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: grey;
    transition: text-decoration 10s;
}

li a.active {
    text-decoration: underline;

}

li a:hover:not(.active) {
    text-decoration: underline;
}

.container {
    text-align: center;
    width: 100%;
    margin-top: -2%;
    padding-top: 25px;
    padding-bottom: 1px;

}

#center {
    background-image: url(bg3.jpg);
    height: 100%;
    padding: 15%;
    color: aliceblue;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.sec-2 {
    width: 95%;
    padding: 25px;

}

.pb {
    margin-bottom: 70px;
}

.img-center {
    display: flex;
    justify-content: center;
    padding: 2px;
}

.col-3 {
    padding: 10px;
}

footer {
    background-color: darkslategray;
    height: 500px;
    padding: 0%;
    margin: 0%;
}

.sec-center {
    width: 100%;
    padding: 30px;
    text-align: center;

}

.row {
    width: 80%;
    margin: auto;
}

.bg {
    box-sizing: border-box;
    background-color: whitesmoke;
    text-align: justify;
    padding: 50px;

}

.image {
    width: 50%;
    height: 50%;
}

.image img {
    border-radius: 50%;
    translate: -95px 50px;
    outline: solid 5px whitesmoke;
    outline-offset: 1px;
    width: 74%;
    height: 65%;

}

input[type=text] {
    box-sizing: border-box;
    width: 30%;
    height: 50%px;
    padding: 10px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 1px;
    background-color: transparent;
    color: white;
    transition: border-color 1s;
}

input:focus {
    border-width: 1px;
    border-color: hsla(172, 93%, 41%, 0.965);
    outline: none;
}

input[type=email] {
    box-sizing: border-box;
    width: 30%;
    height: 50%px;
    padding: 10px;
    border: 1px solid white;
    background-color: inherit;
    color: white;
    border-radius: 1px;
    color: white;
    transition: border-color 1s;
}

input:focus {
    border-width: 1px;
    border-color: hsla(172, 93%, 41%, 0.965);
    outline: none;
}

textarea {
    width: 61%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 1px;
    background-color: inherit;
    resize: none;
    transition: background-color 1s;
    transition: border-color 1s;
    color: white;
}


textarea:focus {
    border-width: 1px;
    border-color: hsla(172, 93%, 41%, 0.965);
    outline: none;
}

.btn-2 {
    box-sizing: border-box;
    background-color: cadetblue;
    color: white;
    border: 1px white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 1s;
    width: 30%;
}

.btn-2:hover {
    background-color: lightseagreen;
}

.flex {
    display: flex;
}

p {
    padding-inline: 30px;
}

.btn {
    text-decoration: none;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #e44c65;
    color: white;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: darkslategray;
    color: white;
    border: inherit;
}

.t-image img {
    width: 100%;
    border-radius: 100%;
}

.desc {
    box-sizing: border-box;
    margin-top: 10%;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.link {
    text-decoration: none;
    color: #e44c65;
}

.bg-2 {
    padding: 50px;
    background-color: white;
}

.g-image img {
    width: 100%;
    height: 100%;
}

.g-image img:hover {
    background-color: white;
    opacity: 0.75;
}

.row-2 {
    width: 70%;
    margin-bottom: 20px;
    margin: auto;
}

.col-2 {
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    margin-left: 90px;


}

/* .col-5{
    width: 3%;
    
} */
.icon {
    padding: 8px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin: 4px;
    transition: color 0.8s;
}

.font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    color: darkgray;
}

.ftr {
    text-align: center;
    margin-top: 55px;
    height: 0%;
    padding: 1px;
}

.gallery-section {
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0%;
}

.icon:hover {
    background-color: white;
    color: hotpink;
}

.contact {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.address {
    padding-bottom: 70px;
    margin-block: 40px;
}

.paragraph {
    padding-bottom: 20px;
}


@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 960px) and (max-width: 1023px) {}

@media only screen and (min-width: 768px) and (max-width: 959px) {}

@media only screen and (min-width: 540px) and (max-width: 720px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (min-width: 320px) and (max-width: 479px) {

    ul {
        overflow: hidden;
        width: 100%;
        padding: 0;
    }

    .row-2 {
        width: 100%;
    }

    .img-center {
        display: block;
    }

    .row {
        width: 100%;
    }

    .sec-2 {
        width: 100%;
        padding: 0px;
    }

    .flex {
        display: block;
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
    }

    .image {
        width: 100%;
    }

    .image img {
        translate: 0px 0px;
        margin-block: 10px;
    }

    .bg {
        padding: 17px;
        margin: 10px;
    }

    #center {

        padding: 11%;
    }

    .sec-center {
        padding: 14px;
    }

    .btn-2 {
        width: 57%;
    }

    .address {
        padding-bottom: 0px;
    }
}